.dropdown-contact {
  display: flex;
  flex-direction: row;
  padding: 10px 20px 10px 10px;
}

.dropdown-contact img {
  height: 18px;
  margin-right: 15px;
}

.items {
  margin-bottom: 10px;
  list-style: none;
}

.items > a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.items p {
  min-width: 0;
  overflow-wrap: anywhere;
  font-size: 15px;
}

.items > a:hover p {
  color: #ffffff;
}
