:host {
  display: block;
  flex-shrink: 0;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #353e4d;
  width: 56px;
  height: 100%;
  padding: 5px;
}

.sidebar-icons > img {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
}

.sidebar-icons > img:hover{
 color: #fff;
}

.active {
  fill: #ffffff;
  transition: 0.3s;
}

@media (max-width: 768px) {
  :host {
    width: 100%;
  }

  .sidebar__container {
    flex-direction: row;
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #353e4d;
  }

  .sidebar-icons {
    display: flex;
    gap: 10px;
  }

  .sidebar-icons > img {
    margin-bottom: 0;
  }
}
