:host {
  display: block;
}

.navbar-about__container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #353e4d;
}

.navbar-section {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 10px;
  border-right: 1px solid #353e4d;
  font-size: 14px;
  user-select: none;
  font-weight: bolder;
}

.navbar-section > img {
  margin-left: 20px;
  cursor: pointer;
}

.navbar-section > img:hover {
  background-color: #353e4d4f;
  border-radius: 3px;
  transition: 0.3s;
}
