.navbar-about__container {
  display: flex;
  flex-direction: row;
  width: 40vw;
  border-right: 1px solid #353e4d;
  border-left: 1px solid #353e4d;
}

.navbar-section {
  display: flex;
  padding: 10px;
  width: 10vw;
  padding-left: 10px;
  border-right: 1px solid #353e4d;
  font-size: 14px;
  user-select: none;
  font-weight: bolder;
}

.navbar-section > img {
  margin-left: 20px;
  cursor: pointer;
}

.navbar-section > img:hover {
  background-color: #353e4d4f;
  border-radius: 3px;
  transition: 0.3s;
}
