 .dropdown__container{
  display: flex;
  flex-direction: column;
  flex: 1;
}

img {
  height: 15px;
  margin-right: 8px;
  color: #ffffffbe;
}

.dropdown__label {
  display: flex;
  padding: 10px;
  width: 15.9vw;
  padding-left: 20px;
  border-bottom: 1px solid #353e4d;
  font-size: 14px;
  user-select: none;
  font-weight: bolder;
}

.dropdown__label-contact {
  display: flex;
  padding: 10px;
  width: 15.9vw;
  padding-left: 20px;
  border-bottom: 1px solid #353e4d;
  font-size: 14px;
  user-select: none;
  font-weight: bolder;
  border-top: 1px solid #353e4d;
}


.dropdown__label-contact > p{
  color: #ffffff;
  cursor: pointer;
}

.dropdown__label > p {
  color: #ffffff;
  cursor: pointer;
}

