 <div class="dropdown__container">
  <div class="dropdown__label" *ngIf="service.showPersonalInfo">
    <img src="assets/icons/arrow-down-s-fill.svg" alt="">
    <p>info-pessoal</p>
  </div>
  <div class="dropdown__label" *ngIf="service.showExpInfo">
     <img src="assets/icons/arrow-down-s-fill.svg" alt="">
    <p>experiencias</p>
  </div>
  <app-dropdown-personal *ngIf="service.showPersonalInfo"></app-dropdown-personal>
   <div class="dropdown__label-contact">
    <img src="assets/icons/arrow-down-s-fill.svg" alt="">
    <p>contatos</p>
  </div>
  <app-dropdown-contact></app-dropdown-contact>
</div>
