<div class="content-info__container">
  <div class="content-info-line">
    <div class="line-number">
      <div *ngFor="let linha of linhas">
        <span>*</span>
      </div>
    </div>
  </div>
  <div>
    <div *ngFor="let linha of linhas">
      {{linhas}}
    </div>
  </div>
  <!-- <p>
  Sou estudante de Engenharia de Software, entusiasta de tecnologia e constantemente em busca de aprender e explorar novas tendências e soluções inovadoras. Possuo experiência no desenvolvimento de sites, atuando tanto no front-end quanto no back-end, além de trabalhar com bancos de dados.
  <br>
  <br>
  Tenho facilidade para atuar em equipes e participar da gestão de projetos, valorizando experiências que promovam aprendizado e que possam ser aplicadas para otimizar processos e resultados. Estou sempre disposto a encarar novos desafios que contribuam para meu crescimento profissional e para o sucesso das equipes e projetos dos quais faço parte.
</p> -->
</div>
