  <div class="content-info__container">
    <div *ngFor="let linha of linhas; let i = index" class="content-info-line">
      <span class="line-number">{{ i + 1 }}</span>

      <ng-container *ngIf="i === 0">
        <span class="code-text">/**</span>
      </ng-container>

      <ng-container *ngIf="i === linhas.length - 1 && i !== 0">
       <span class="code-text">*/</span>
      </ng-container>

      <ng-container *ngIf="i !== 0 && i !== linhas.length - 1">
      <span class="line-asterisk">*</span>
      <span class="code-text">{{ linha }}</span>
    </ng-container>

    </div>
  </div>
