.navbar-projects__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.navbar-section {
  display: flex;
  align-items: center;
  padding: 10px;
  border-right: 1px solid #353e4d;
}

.navbar-section > img {
  margin-left: 20px;
  cursor: pointer;
}

.navbar-section > p {
  margin-left: 10px;
  user-select: none;
}


.navbar-section > img:hover {
  background-color: #353e4d4f;
  border-radius: 3px;
  transition: 0.3s;
}
