<div class="projects-space__container">
  <app-projects-card
  cardTitle="Teste1"
  cardCover="assets/imgs/devexemplos.jpg"
  descriptionText="TESTE TESTE TESTE TESTE TESTETESTETESTETESTETESTETESTE "
  viewProjectgit="https://github.com/Ryanfs-ng"
  webProjectLink="https://github.com/Ryanfs-ng"
  projectIcon="assets/icons/reactjs-line-black.svg"
  ></app-projects-card>
  <app-projects-card></app-projects-card>
  <app-projects-card></app-projects-card>
  <app-projects-card></app-projects-card>
  <app-projects-card></app-projects-card>
</div>
