.asideCode__container {
  padding-top: 15px;
}

.mensagem__container{
  display: block;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  display: block;
  padding-left: 10px;
  color: #DEA364;
}

.line-number{
  margin-right: 30px;
  margin-left: 20px;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;
  user-select: none ;
}

.var-color{
  color: #a17cf8;
  padding-left: 10px;
}

.varName-color{
  color: #5D5CEC;
  padding-left: 10px;

}

.quotation-color {
  display: block;
  padding-left: 10px;
  color: #DEA364;
}
