<div class="projetos-content__container">
  <div class="dropdown__container">
    <div class="dropdown__label-projects">
      <img src="assets/icons/arrow-down-s-fill.svg" alt="">
      <p>projetos</p>
    </div>
      <app-dropdown-label
      languageIcon="assets/icons/html5-fill.svg"
      languageName="HTML"
      ></app-dropdown-label>
      <app-dropdown-label
      languageIcon="assets/icons/css3-fill.svg"
      languageName="CSS"
      ></app-dropdown-label>
      <app-dropdown-label
      languageIcon="assets/icons/angularjs-fill.svg"
      languageName="Angular"
      ></app-dropdown-label>
      <app-dropdown-label
      languageIcon="assets/icons/java-line.svg"
      languageName="Java"
      ></app-dropdown-label>
      <app-dropdown-label
      languageIcon="assets/icons/reactjs-line.svg"
      languageName="React Native"
      ></app-dropdown-label>
  </div>
  <div class="main-content__container">
    <div class="navbar__container">
      <app-navbar-projects></app-navbar-projects>
    </div>
    <div class="projects__container">
      <app-projects-space></app-projects-space>
    </div>
  </div>
</div>
