:host a {
  display: block;
}

.github-bar__container {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0 15px 0 10px;
  border-left: 1px solid #353e4d;
  transition: 0.3s;
}

.github-bar__container:hover {
  background-color: #0e203088;
  color: #ffffff;
}

.github-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  font-size: 15px;
  width: 1.4em;
}

@media (max-width: 600px) {
  .github-user {
    display: none;
  }
}

.github-bar__container > *,
.github-bar__container img {
  background-color: transparent;
}
