:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: auto;
}

.content-info__container {
  font-family: 'Fira Code', monospace;
  padding: 16px;
  max-width: none;
  box-sizing: border-box;
  flex: 1 0 auto;
  overflow: auto;
}

.content-info-line {
  display: flex;
  line-height: 1.5;
}

.line-number {
  width: 16px;
  margin-right: 8px;
}

.line-asterisk {
  width: 15px;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  user-select: none;
}

.code-text {
  min-width: 0;
  overflow-wrap: anywhere;
  flex: 1;
}
