
.label-title {
  font-size: 14px;
  margin-bottom: 10px;
}

 input{
  padding: 10px;
  width: 20vw;
  border-radius: 10px;
  border: 1px solid #26334b;
  transition: 0.3s;
}

 input:focus{
  border-color: #717987;
  outline: none;
}

.form-label{
  padding-bottom: 1.5em;
}

/* textarea e botão */

.label-title {
  font-size: 14px;
  margin-bottom: 10px;
}

textarea {
  width: 20vw;
  height: 15vh;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #26334b;
  outline: none;
  resize: none;
}

textarea::-webkit-scrollbar {
 width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-submit > button {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  border: 1px solid #26334b;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #26334b;;
  color: aliceblue;
}
