.form-label__container{
  padding-bottom: 1.5em;
}

.label-title {
  font-size: 14px;
  margin-bottom: 10px;
}

 input{
  padding: 10px;
  width: 20vw;
  border-radius: 10px;
  border: 1px solid #26334b;
  transition: 0.3s;
}

 input:focus{
  border-color: #717987;
  outline: none;
}
