.projects-card__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20vw;
  height: 37vh;
  border: 1px solid #353e4d;
  border-radius: 10px;

  display: flex;
  overflow: hidden;
}

.prefix {
  color: #615FFF;
  padding-right: 10px;
  font-weight: bold;
}

.cardTitle {
  display: flex;
}
