<div class="contato__container">
  <div class="dropdown__container">
    <div class="dropdown__label-contact">
      <img src="assets/icons/arrow-down-s-fill.svg" alt="">
      <p>contatos</p>
    </div>
      <app-dropdown-contact></app-dropdown-contact>
  </div>
     <div class="contato-content__container">
       <div class="navbar__container">
       </div>
       <div class="forms-full__container">
         <div class="forms__container">
           <app-forms-contato></app-forms-contato>
         </div>
         <div class="formsCode__container">
          <app-forms-aside-code
          [formName]="service.textName"
          [formEmail]="service.textEmail"
          [formMessage]="service.textMessage"
          >
        </app-forms-aside-code>
         </div>
       </div>
     </div>
</div>
