
.dropdown-personal {
  padding: 12px 5px 5px;
}

.items > img {
  margin-right: 5px;
  height: 18px;
}

.items > p {
  font-size: 15px;
}

.items {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.dropdown-active > p{
  transition: 0.3s;
  color: #ffffff
}

.arrow {
  transition: transform 0.2s;
}

.arrow.open {
  transform: rotate(-90deg);
}
