  <div class="content__container">
    <div>
      <span class="jsonTitle">"Experiências"</span><span style="color: #ffffff;">:</span><span style="color: rgb(228, 170, 63);"> [ </span> <br><br>
       <span class="fields-1">{{" { "}} </span><br><br>
          <span class="jsonSubTitle">"Trabalho atual"</span><span style="color: #ffffff;">:</span><span style="color: rgb(228, 170, 63);"> {{" { "}} </span> <br><br>
            <p class="jsonText">
              "Empresa: Memora Processos Inovadores SA"<span style="color: #ffffff;">,</span> <br>
              "Cargo: Estagiário Desenvolvedor Full-Stack"<span style="color: #ffffff;">,</span> <br>
              "Atividades: Compreensão de solução de tecnologia em plataformas de microserviços; Compreensão e validação de requisitos de usuários, testes de soluções implementadas; Entendimento e suporte a serviços ligados a plataforma de microserviços."
            </p> <br>
              <span style="padding-left: 40px;" class="fields-1">{{" } "}} </span><br><br>

              <span class="jsonSubTitle">"Outras experiências"</span><span style="color: #ffffff;">:</span><span style="color: rgb(228, 170, 63);"> {{" { "}} </span> <br><br>

            <p class="jsonText">
              "Empresa: Ball Corporation"<span style="color: #ffffff;">,</span> <br>
              "Cargo: Aprendiz Lean Manufacturing"<span style="color: #ffffff;">,</span> <br>
              "Período: 12/2023 - 03/2025"<span style="color: #ffffff;">,</span> <br>
              "Atividades: Responsável pela automação de processos de Lean integrando sistemas ERP/MES para visibilidade em tempo real e decisões mais rápidas; contribuição do planejamento e controle utilizando a ferramenta Microsoft Project com entregas em sprints semanais; realização da gestão de ordens, TI e 5S com o uso de metodologias ágeis e apoio na definição de estratégias que impulsionavam a melhoria contínua."
            </p> <br>

            <p class="jsonText">
              "Empresa: TJDFT(Tribunal de Justiça do Distrito Federal e dos Territórios)"<span style="color: #ffffff;">,</span> <br>
              "Cargo: Auxiliar de faturista hospitalar"<span style="color: #ffffff;">,</span> <br>
              "Período: 06/2021 - 01/2022"<span style="color: #ffffff;">,</span> <br>
              "Atividades: Responsável pela verificação das guias de atendimento dos pacientes para faturamento; monitoramento de valores das operadoras de saúde e cobrar pendências, emitir notas fiscais, boletos e relatórios; organização de documentos fiscais e atendimento aos clientes para esclarecimento de dúvidas, resolver problemas e fornecer os protocolos de entrega de guias de faturamento de hospitais."
            </p> <br>
              <span style="padding-left: 40px;" class="fields-1">{{" } "}} </span><br><br>

            <span class="fields-1">{{" } "}} </span><br>
          <span style="color: rgb(228, 170, 63);"> ] </span>
        <br><br><span class="fields">{{" } "}}</span>
    </div>
  </div>
