* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #04122e;
  /* color: #738299; */
  color: #8294ae;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/assets/fonts/FiraCode-VariableFont.ttf') format('truetype'),
       url('/assets/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Fira Code', monospace;
}

a {
  text-decoration: none;
}


