
.content__container {
  font-family: 'Fira Code', monospace;
  padding: 16px;
  max-width: 40vw;
  box-sizing: border-box;
  border: 1px solid #3c3c3c;
  overflow-x: auto;
  height: 100%;
  /* scrollbar-width: thin;
  scrollbar-color: #555 blue; */
}

.jsonTitle {
  color: rgb(217, 84, 84);
}

.fields {
  color: rgb(228, 170, 63);
}

.fields-1 {
  color: rgb(228, 170, 63);
  padding-left: 20px;
}

.jsonText {
  margin-top: 5px;
  padding-left: 25px;
  color: rgb(228, 170, 63);
}

.jsonSubTitle {
  padding-left: 20px;
  color: rgb(217, 84, 84);
}

.content__container::-webkit-scrollbar {
 width: 6px;
}

.content__container::-webkit-scrollbar-track {
  background: transparent;
}

.content__container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.content__container > img {
  cursor: pointer;

}
